.App {
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

.drink-card {
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  height: 70vh;
  width: auto;
  padding: 2em;
  margin: 2em;
}

.drink-img {
  height: 50vw;
  max-height: 70vh;
  margin-left: 2em;
}

.fav {
  background-color: red;
  color: #ebebeb;
}

.home-screen-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20vh;
}

.home-link {
  font-family: 'Comfortaa', cursive;
  font-size: 2em;
  background-color: #ebebeb;
  border: none;
  height: 10em;
  width: 8em;
  cursor: pointer;
  border-radius: 10px;
  opacity: 85%;
}

.home-link:hover {
  opacity: 100%;
}

.info-sesh {
  padding: 0 10em;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.link {
  text-decoration: none;
  color: #ebebeb;
  font-size: 1.5em;
  cursor: pointer;
  margin: 0;
}

.link:hover {
  border-bottom: solid 1px red;
}

.logo {
  height: 10em;
  margin: 0;
  font-family: 'Kaushan Script', cursive;
}

.login-form {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  border: solid black 2px;
  width: 40em;
  border-radius: 8px;
  margin-left: 50vw;
  transform: translate(-50%);
  margin-top: 10vh;
  padding: 100px 0;
  /* background-color: #ebebeb; */
}

.login-input {
  height: 3em;
  width: 20em;
  font-family: 'Comfortaa',
    cursive;
  font-size: large;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin: 5px;
}

.login-btn {
  height: 3em;
  width: 20em;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  border-radius: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin: 20px;
}

.nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  opacity: 85%;
}

.search-bar {
  margin: 1em;
  width: 40em;
  height: 3em;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  align-items: center;
  background-color: #ebebeb;
  border: none;
  text-align: center;
}

.submit {
  height: 3em;
  width: 6em;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  border: none;
  cursor: pointer;
  background-color: #ebebeb;
}

.Video {
  animation: fade .3s ease-in;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}